# ── Database (bắt buộc) ───────────────────────────────────────────
DATABASE_URL=postgresql://user:password@db:5432/assets_db

# ── API Keys (tùy chọn) ───────────────────────────────────────────
# Lưu ý: Không để dấu cách sau dấu "="

VT_API_KEY=4692982427cc89f5382ba1ea2c79d94ac151d678f4d750ce38df87795e155ced
SHODAN_API_KEY=RPAHEpQPptyVWhU5jua2NaUZVEeQlO00
URLSCAN_API_KEY=019d0706-d7bf-718a-ab30-f21c65424b28
WHOISXML_API_KEY=at_m8Aow8cCsKAsNZtegimQOG5d2MLsH
